{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="container-fluid">
		{% include 'notes/nav.html' %}
<h1 id="acc-header" align="center" style="margin-top: 20px;">sign up</h1>
	<form action="{% url 'accounts:signup' %}" method="POST" class="form-group" align="center">
		{% csrf_token %}
		{% for field in form %}
    	<div class="field">
        	<p>{{ field.label_tag }} {{ field }}</p>
        	{% if field.help_text %}
        	<p class="help">{{ field.help_text|safe}}</p>
        	{% endif %}
    	</div>
		{% endfor %}
		<input class="btn btn-primary" type="submit" value='signup'>
	</form>
	</div>
	</div>
{% endblock %}