<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Keeps Clone!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'notes:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Welcome {{request.user}}</a>
      </li>
    </ul>
    <form method="POST" action="{% url 'accounts:logout' %}" class="form-inline my-2 my-lg-0">
      {% csrf_token %}
      <input type="submit" value="logout" style="margin-right: 5px;" class="btn btn-primary">
    </form>
 	 {% include 'notes/search.html' %}
   {% endif %}
  </div>
</nav>